.products {
  margin-bottom: 8.25vh;

  @media (min-width: 1440px) {
    margin-bottom: 70px;
  }

  &__title {
    margin-bottom: 2.5em;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: #000;
  }

  &__row {
    display: flex;
    margin: 0 -1.4vw;

    @media (min-width: 1440px) {
      margin: 0 -20px;
    }
  }
}
