.products {
  margin-bottom: 70px;

  @media (max-width: 1439px) {
    margin-bottom: 8.25vh;
  }

  &__title {
    margin-bottom: 2.5em;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: #000;
  }

  &__row {
    display: flex;
  }
}
