@import 'node_modules/swiper/swiper.scss';

.products {
  opacity: 0;

  &__title {
    margin: 0 24px 12px 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: #000;

    @media (min-width: 576px) {
      margin: 0 24px 2.5em 0;
      font-size: 24px;
    }

    @media (min-width: 768px) {
      margin: 0 0 2.5em;
    }
  }

  &__list-wrap {
    position: relative;
  }

  &__list {
    display: flex;
  }

  .swiper-button {
    display: none;

    @media (min-width: 992px) {
      display: block;
    }
  }

  .swiper-button, .randomSwiper-button {
    position: absolute;
    z-index: 20;
    top: 50%;
    width: 58px;
    height: 58px;
    border: none;
    border-radius: 50%;
    background-image: url('../../../img/svg/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.45);
    font-size: 0;

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        cursor: pointer;
      }
    }

    &:focus {
      outline: none;
    }

    &.swiper-button-disabled, {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 0;
    transform: translate(-100%, -50%) rotate(180deg);

    @media (min-width: 768px) {
      left: -6px;
    }
  }

  .swiper-button-next {
    right: 0;
    transform: translate(100%, -50%);

    @media (min-width: 768px) {
      right: -6px;
    }
  }
}
