mixin products(title, random)
  -
    random = !!random

  .products(itemscope itemtype="http://schema.org/ItemList")
    h2.products__title= title

    if !random
      .products__list.slider
        each product in products
          +product(product)
    else
      .products__list.random-slider
        each product in products
          +product(product)


