mixin products(title, random)
  -
    random = !!random

  .products(itemscope itemtype="http://schema.org/ItemList")
    h2.products__title= title

    if !random
      .products__list-wrap
        .products__list.slider.swiper-container
          .swiper-wrapper
            each product in products
              +product(product)
        .swiper-button.swiper-button-prev
        .swiper-button.swiper-button-next
    else
      .products__list-wrap
        .products__list.random-slider.swiper-container
          .swiper-wrapper
            each product in products
              +product(product)
        .swiper-button.swiper-button-prev
        .swiper-button.swiper-button-next

