extends layouts/default
include helpers/mixins

block variables
  - const title = "Main"

block content
  main.main
    .container
      +products('Бестселлеры в категории автотовары и автохимия')


block scripts
  script(src="js/main.js")
  //script(src="js/vendor.js")
