extends layouts/default
include helpers/mixins

block variables
  - const title = "Main"

block content
  main.main
    .container
      section.carousel.bestsellers
        +products('Бестселлеры в категории автотовары и автохимия')

      section.carousel.new
        +products('Что-то новенькое', true)


block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
