*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  padding: 77px 0;
}

.container {
  max-width: 1294px;
  margin: 0 2.6%;

  @media (min-width: 1366px) {
    margin: 0 auto;
  }
}
