*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  padding: 77px 0;
}

.container {
  max-width: 1280px;

  @media (min-width: 768px) {
    margin: 0 78px;
  }

  @media (min-width: 1200px) {
    margin: 0 5.6%;
  }

  @media (min-width: 1440px) {
    margin: 0 auto;
  }
}

.carousel {
  margin: 0 0 55px 24px;
  overflow: hidden;

  @media (min-width: 768px) {
    margin: 0 0 8vh;
    overflow: initial;
  }

  @media (min-width: 1440px) {
    margin: 0 0 76px;
  }
}
